@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

@media screen and (max-width:700px) {
    .navbar-container {
        display: none;
    }
}

@media screen and (min-width:999px) {
    header {
        grid-column: 2 / 4;
        grid-row: 1;
        text-align: center;
    }
}

* {
    box-sizing: border-box;
}
body {
    background-color: antiquewhite;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    font-family:'Times New Roman', Times, serif;
    grid-column: 2 / 3;
    grid-row: 1;
    text-align: center;
    margin: auto;
}

header > h1 {
    margin: 5px auto;
}

header p {
    font-size: 1.2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: auto(minmax(200px, 1fr));
    grid-template-rows: fit-content auto;
    gap: 5px;
}

.divider {
    display: block;
    border: 1px solid rgb(223, 198, 165, 0.8);
    background-color:rgb(223, 198, 165);
    margin: 0;
    align-self: right;
    margin-left: 12px;
}
        
sidebar {
    grid-column: 1;
    grid-row: 2;
}

.navbar-container {
    position: sticky;
    width: 100%;
    min-width: fit-content;
    top: 1rem;
    align-self: start;
    border: 3px solid burlywood;
    border-radius: 5px;
    height: fit-content;
    margin: 0 0 0 -25px;
    padding: 0 10px 0 10px; 
}

.navbar-container > p {
    padding: 0 0 0 10px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
.navbar-container ul {
    padding-inline-start: 10px;
    list-style: none;
    margin: 12px 0 15px 0;
}
.nav-button {
    margin-top: 5px;
    color: black;
    text-decoration: none;
    margin: 0 0.1rem;
    padding: 0.2rem 0;
    display: block;
}
.nav-button a {
    color: inherit;
    text-decoration: none;
}
.nav-button a:hover {
    text-decoration: underline;
}

main {
    grid-column: 2;
    grid-row: 2;
    padding-bottom: 20rem;
    min-width: 200px;
}

section[id='img'] {
    max-height: fit-content;
}



img {
    display: block;
    position: relative;
    margin: 5px auto;
    width: 100%;
    max-width: 548px;
    max-height: 720px;
}

h3 {
    margin: 10px auto 2px;
}
.author {
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 0;
    text-align: right;
}



.info-section ul {
    list-style: square;
    padding-inline-start: 30px;
}
.info {
    margin-top: 20px;
}
.quote {
    display: block;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}